.dashboard-bg {
    background: linear-gradient(135deg, #045ea8, #a1ddf4);
    border-radius: 1rem;
    margin: 30px 30px 15px 30px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    /* หรือจะใช้ display: grid; ก็ได้ */
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
    /* หรือจะใช้ display: grid; ก็ได้ */
}

.just-center {
    justify-content: center;

}

.left {

    flex: 1;
    /* หรือจะใช้ grid-column: 1 / 2; ก็ได้ */
    display: grid;
}

.text-checkin {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
    font-weight: bold;
    /* ตั้งค่าตัวหนา */
}

.value-checkin {

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    margin-left: 5px;
}

.right {
    border-radius: 50px;

    margin: 3px;
}



div .report-worklate {
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
}

.report-data {
    padding: 1rem;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.884);
    border-radius: 1.3rem;
    color: black;
    font-size: 20px;
    border: 2rem;
    margin: 2rem;
}

.div-bar-search {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 30px;

}

.datepicker {
    display: flex;
    justify-content: flex-end;
    margin: 30px;
    margin-bottom: -20px;
}

.div-select-em {
    display: flex;
    justify-content: flex-end;
    margin: 30px;
    margin-bottom: -20px;
}

.select-em {
    width: 200px;
}

.table {
    border: 2px solid rgb(235, 234, 234);
    border-radius: 10px;
    margin-left: 30px;
    flex-grow: 1;
    margin-right: 30px;
    overflow: auto;
}

@media (max-width:1120px) {
    .div-google-map {
        margin-right: 30px;
        margin-bottom: 2px;
        width: 100%;
        /* เพื่อให้มีระยะห่างระหว่างส่วนซ้ายและขวา */
    }

    .table {
        margin-left: 30px;
    }
}

@media (max-width:741px) {
    .div-bar-search {
        display: grid;
        justify-content: center;
        margin: 10px -10px 30px;

    }

    .select-em {
        width: 100%;
    }

    div .report-worklate {
        display: grid;
        width: auto;
        justify-content: center;
    }

    .table {
        display: grid;
    }

    .report-data {
        width: 400px;
        margin: 10px;
    }

    .dashboard-bg {
        margin: 20px;
    }

    .datepicker {
        margin-bottom: 0px;
    }

    .div-google-map {
        margin: 20px;
    }

    .table {
        margin: 20px;

    }
}

@media (max-width:551px) {


    .report-data {
        width: 300px;
        margin: 10px;
    }

    .dashboard-bg {
        margin: 20px;
    }

    .datepicker {
        margin-bottom: 0px;
    }
}

@media (max-width:455px) {

    .report-data {
        width: 280px;
        margin: 10px;
    }

    .dashboard-bg {
        margin: 10px;
    }

    .datepicker {
        margin-bottom: 0px;
    }

    .div-google-map {
        margin: 10px;
    }

    .table {
        margin: 10px;
    }
}

@media (max-width:388px) {
    .btn-checkin {
        width: 200px;
        margin-bottom: 15px;
    }

    .btn-checkout {
        width: 200px;

    }


}